*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
  padding:20px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.topbar button{
  background:#dc2626;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:10px;
  cursor:pointer;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
  margin-bottom:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
}

.card h2{
  margin-bottom:10px;
}

.card p{
  font-size:32px;
  color:#22c55e;
}

.veiculo{
  background:#1e293b;
  padding:15px;
}