.topbar{
position:fixed;
top:0;
left:0;
right:0;
height:60px;
background:#b30000;
color:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 15px;
z-index:9999;
}

.topbar button{
width:auto;
padding:8px 15px;
background:#16a34a;
}

.painel{
position:fixed;
top:70px;
left:10px;
width:320px;
max-height:75vh;
overflow:auto;
background:white;
padding:10px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.3);
z-index:999;
}

.bottom-menu{

position:fixed;

bottom:0;

left:0;

right:0;

height:70px;

background:#fff;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 -2px 8px rgba(0,0,0,.2);

z-index:9999;

}

.bottom-menu button{

background:none;

border:none;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

color:#444;

font-size:14px;

cursor:pointer;

width:70px;

height:70px;

}

.bottom-menu button:hover{

color:#b30000;

}

#map{

height:100vh;

width:100%;

}