* {
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  z-index: 999;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  width: 400px;
  background: #111827;
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content input,
.modal-content select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #1e293b;
  color: white;
}

.salvar {
  background: #22c55e;
  color: white;
}

.cancelar {
  background: #334155;
  color: white;
}
